{{ with resources.Get .src }}
    {{ $thumb := partial "fn/ResizeSmart" (dict "image" . "length" 1500) }}

    <td>
        <figure>
            <a href="{{ .RelPermalink }}">
                <img
                    class="single-figure"
                    loading="lazy"
                    src="{{ $thumb.RelPermalink }}"

                    {{ with $.alt }}
                        alt="{{ . }}"
                    {{ end }}

                    {{ with $.title }}
                        title="{{ . }}"
                    {{ end }} />
            </a>

            {{ with $.caption }}
                <figcaption>
                    <p class="caption">{{ safe.HTML . }}</p>
                </figcaption>
            {{ end }}
        </figure>
    </td>
{{ end }}
