{{ with .image }}
    {{ $thumb := partial "fn/ResizeSmart" (dict "image" . "length" 1500) }}

    <figure>
        <a href="{{ .RelPermalink }}">
            <img class="single-figure" loading="lazy" src="{{ $thumb.RelPermalink }}"

            {{ with $.text }}
                alt="{{ . }}"
            {{ end }}

            {{ with $.title }}
                title="{{ . }}"
            {{ end }} />
        </a>

        {{ with $.text }}
            <figcaption>{{ safe.HTML . }}</figcaption>
        {{ end }}
    </figure>
{{ end }}
