{{ $format := "2006-01-02" }}
{{ $dates := slice }}

<!-- duration -->
{{ with partial "fn/GetProjectDuration" (dict "start" .started "end" .completed) }}
    {{ $dates = append . $dates }}
{{ end }}

<!-- released -->
{{ with .released }}
    {{ $d := partial "fn/Concat" (slice "Released " (. | time.Format $format)) }}
    {{ $dates = append $d $dates }}
{{ end }}

<!-- published -->
{{ with .published }}
    {{ $d := partial "fn/Concat" (slice "Published " (. | time.Format $format)) }}
    {{ $dates = append $d $dates }}
{{ end }}

<!-- modified -->
{{ with .modified }}
    {{ if ne . $.published }}
        {{ $d := partial "fn/Concat" (slice "Modified " (. | time.Format $format)) }}
        {{ $dates = append $d $dates }}
    {{ end }}
{{ end }}

<!-- taken -->
{{ if eq page.Section "photos" }}
    {{ with index .images 0 }}
        {{ $path := partial "fn/Concat" (slice "images/" .) }}
        {{ $image := resources.Get $path }}

        {{ with $image }}
            {{ with .Exif }}
                {{ $d := partial "fn/Concat" (slice "Taken " (.Date | time.Format $format)) }}
                {{ $dates = append $d $dates }}
            {{ else }}
                {{ fmt.Warnf (partial "fn/Concat" (slice "Single: no exif for " $path)) }}
            {{ end }}
        {{ else }}
            {{ fmt.Errorf (partial "fn/Concat" (slice "Caption: unable to find " $path)) }}
        {{ end }}
    {{ end }}
{{ end }}

<p class="caption">
    <time>{{ delimit $dates " · " }}</time>
</p>
