{{ $format := "2006-01-02" }}
{{ $dates := slice }}

<!-- duration -->
{{ with partial "fn/GetProjectDuration" (dict "start" .started "end" .completed) }}
    {{ $dates = collections.Append . $dates }}
{{ end }}

<!-- released -->
{{ with .released }}
    {{ $d := partial "fn/Concat" (slice "Released " (. | time.Format $format)) }}
    {{ $dates = collections.Append $d $dates }}
{{ end }}

<!-- published -->
{{ with .published }}
    {{ $d := partial "fn/Concat" (slice "Published " (. | time.Format $format)) }}
    {{ $dates = collections.Append $d $dates }}
{{ end }}

<!-- updated -->
{{ with .modified }}
    {{ if ne . $.published }}
        {{ $d := partial "fn/Concat" (slice "Updated " (. | time.Format $format)) }}
        {{ $dates = collections.Append $d $dates }}
    {{ end }}
{{ end }}

<!-- taken -->
{{ with index .images 0 }}
    {{ $path := partial "fn/Concat" (slice "images/" .) }}
    {{ $image := resources.Get $path }}

    {{ with $image }}
        {{ with .Exif }}
            {{ $d := partial "fn/Concat" (slice "Taken " (.Date | time.Format $format)) }}
            {{ $dates = collections.Append $d $dates }}
        {{ else }}
            {{ fmt.Warnf (partial "fn/Concat" (slice "Single: no exif for " $path)) }}
        {{ end }}
    {{ else }}
        {{ fmt.Errorf (partial "fn/Concat" (slice "Caption: unable to find " $path)) }}
    {{ end }}
{{ end }}

<p class="caption">
    <time>{{ collections.Delimit $dates " · " }}</time>
</p>
