{{ $formatInterYear := "Jan 2006" }}
{{ $formatSameYear := "Jan" }}

{{ with .start }}
    {{ $startYear := . | time.Format "2006" }}
    {{ $startTime := . | time.Format $formatInterYear }}

    <!-- completed -->
    {{ with $.end }}
        {{ $endYear := . | time.Format "2006" }}
        {{ $endTime := . | time.Format $formatInterYear }}

        <!-- same month -->
        {{ if eq $startTime $endTime }}
            <p class="caption">{{ $startTime }}</p>

        {{ else }}
            <!-- same year, different months -->
            {{ if eq $startYear $endYear }}
                {{ $startTime = $.start | time.Format $formatSameYear }}

            <!-- different years -->
            {{ else }}
                <!-- for some reason doesn't work for future dates -->
                {{ $startTime = $.start | time.Format $formatInterYear }}
            {{ end }}

            <p class="caption">{{ $startTime }} – {{ $endTime }}</p>
        {{ end }}

    <!-- ongoing -->
    {{ else }}
        <p class="caption">{{ $startTime }} – Ongoing</p>
    {{ end }}

<!-- no start date -->
{{ else }}
    {{ with .end }}
        {{ $endTime := . | time.Format $formatInterYear }}
        <p class="caption">{{ $endTime }}</p>
    {{ end }}
{{ end }}
