{{ $format := "2006-01-02" }}
{{ $formatShort := "Jan 2006" }}
{{ $dates := slice }}

<!-- duration -->
{{ with partial "fn/GetProjectDuration" (dict "start" .started "end" .completed) }}
    {{ $dates = append . $dates }}
{{ end }}

<!-- released -->
{{ with .released }}
    {{ $d := add "Released " (. | time.Format $formatShort) }}
    {{ $dates = append $d $dates }}
{{ end }}

<!-- taken -->
{{ if eq page.Section "photos" }}
    {{ with index .images 0 }}
        {{ $path := add "images/" . }}
        {{ $image := resources.Get $path }}

        {{ with $image }}
            {{ with .Exif }}
                {{ $d := add "Taken " (.Date | time.Format $format) }}
                {{ $dates = append $d $dates }}
            {{ else }}
                {{ warnf (add "Single: no exif for " $path) }}
            {{ end }}
        {{ else }}
            {{ errorf (add "Caption: unable to find " $path) }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- modified -->
{{ with .modified }}
    {{ $d := add "Modified " (. | time.Format $format) }}
    {{ $dates = append $d $dates }}
{{ else }}
    <!-- published (only show if not modified) -->
    {{ with .published }}
        {{ $d := add "Published " (. | time.Format $format) }}
        {{ $dates = append $d $dates }}
    {{ end }}
{{ end }}

<p class="caption">
    <time>{{ delimit $dates " · " }}</time>
</p>
