@import "general.css";
@import "utilities.css";
@import "type.css";
@import "sitewide.css";
@import "item.css";
@import "single.css";

:root {
  /* color */

  --color-surface: #F5F3F0;
  --color-surface-dk: #F1EEEA;
  --color-border: rgba(128, 128, 128, 0.15);
  --color-border-image: rgba(0, 0, 0, 0.1);
  --color-decoration: gray;
  --color-primary: #629B00;

  --color-text-primary: rgba(0, 0, 0, 0.9);
  --color-text-secondary: rgba(0, 0, 0, 0.6);

  /* dimen */

  --corner-radius-small: 0.5rem;
  --corner-radius-large: 0.75rem;

  --spacing-diminutive: 0.25rem; /* 2dp */
  --spacing-tiny: 0.5rem; /* 4dp */
  --spacing-small: 1rem; /* 8dp */
  --spacing-medium: 2rem; /* 8dp */

  --spacing-p: var(--spacing-small);
  --spacing-section: var(--spacing-medium);
  --spacing-edge: var(--spacing-small);

  --width-border: 0.1rem;
  --width-column-narrow: 46rem;
  --width-column-wide: 58rem;
  --width-mobile: 36rem;

  /* type */

  --font-size-h2: 1.6rem;
  --font-size-h3: 1.25rem;
  --font-size-summary: 20px;
  --font-size-body: 17px;
  --font-size-caption: 15px;

  /* anim */

  --transition: 0.1s ease-out;
}
