@import "layout.css";
@import "single.css";
@import "item.css";
@import "media.css";
@import "type.css";

:root {
  --color-surface: rgba(128, 128, 128, 0.15);
  --color-text-primary: black;
  --color-text-secondary: gray;
  --color-text-link: #027DCB;

  --corner-radius-small: 0.25em;
  --corner-radius-large: 0.5em;

  --spacing-tiny: 1rem;
  --width-column: 46rem;
  --width-mobile: 36rem;

  --transition: 0.2s;
}

/* mobile */
@media screen and (max-width: 36rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  img.item-link-image, .item-link-bg {
    aspect-ratio: 1 / 1 !important;
  }

  #header-tabs {
    flex-direction: column;
    display: none;
  }
}

/* column full width */
@media screen and (max-width: calc(46rem + 2 * 1rem)) {
  img.single-banner-image {
    border-radius: 0 !important;
  }

  .image-single-container {
    width: calc(100% + 2 * var(--spacing-tiny));
    margin-left: calc(-1 * var(--spacing-tiny));
    margin-right: calc(-1 * var(--spacing-tiny));
    border-radius: 0;
  }
}
