@import "general.css";
@import "utilities.css";
@import "type.css";
@import "sitewide.css";
@import "item.css";
@import "single.css";

:root {
  /* color */

  --color-surface: #F5F3F0;
  --color-surface-dk: #F1EEEA;
  --color-border: rgba(128, 128, 128, 0.15);
  --color-border-image: rgba(0, 0, 0, 0.1);
  --color-decoration: gray;
  --color-primary: #629B00;
  --color-primary-lt: #B9E273;

  --color-text-primary: rgba(0, 0, 0, 0.9);
  --color-text-secondary: rgba(0, 0, 0, 0.6);

  --color-green: #8DDF00;
  --color-green-dk: var(--color-primary);
  --color-blue: #7DA9FF;
  --color-blue-dk: #0045CD;
  --color-pink: #F49FFF;
  --color-pink-dk: #8C0B9C;
  --color-yellow: #FDD60D;
  --color-yellow-dk: #917700;

  /* dimen */

  --corner-radius-small: 0.5rem;
  --corner-radius-medium: 0.75rem;
  --corner-radius-large: 1.25rem;

  --corner-radius-screen: 5%;
  --corner-radius-bezel: calc(var(--corner-radius-screen) + var(--width-device-side));

  --spacing-diminutive: 0.25rem; /* 2dp */
  --spacing-tiny: 0.5rem; /* 4dp */
  --spacing-small: 1rem; /* 8dp */
  --spacing-medium: 2rem; /* 8dp */

  --spacing-p: var(--spacing-small);
  --spacing-section: var(--spacing-medium);
  --spacing-edge: var(--spacing-small);

  --width-border: 0.1rem;
  --width-column-narrow: 46rem;
  --width-column-wide: 58rem;
  --width-mobile: 36rem;

  --width-device-side-factor: 0.04;
  --width-device-side: calc(100% * var(--width-device-side-factor));
  --width-device-bezel: calc(var(--width-device-side) * (1 + var(--width-device-side-factor)));
  --width-device-bezel-large: calc(2 * var(--width-device-bezel));
  --width-device-band: 50%;
  --height-device-band: 8%;

  --aspect-ratio-phone: 0.45; /* 9/20 */
  --aspect-ratio-pc: 1.6; /* 8/5 */

  /* type */

  --font-size-h1: 2.4rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.3rem;
  --font-size-summary: 20px;
  --font-size-body: 18px;
  --font-size-caption: 16px;

  /* anim */

  --transition: 0.1s ease-out;
}
