/* list */

.grid, .grid-photo {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-diminutive);
}

/* photo */

img.item-photo-thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

img.outlined {
  outline: var(--width-border) solid var(--color-border);
  outline-offset: -0.085rem;
}

.item-photo-container {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-photo-container:hover img.item-photo-thumb,
.item-photo-container:active img.item-photo-thumb {
  width: 92.5%;
  /*opacity: 0.75;*/
  border-radius: var(--corner-radius-large);
}

/* post/link */

div.item-text {
  padding: var(--spacing-tiny);
  margin: 0;

}

div.item-text > h3 {
  margin: 0;
  word-wrap: break-word;
}

div.item-text > p {
  margin-top: var(--spacing-diminutive);
  margin-bottom: 0;
}

/* post */

.item-post {
  border-radius: var(--corner-radius-small);
  transition: var(--transition);

  box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -webkit-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -moz-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
}

.item-post:hover,
.item-post:active {
  border-radius: var(--corner-radius-large);
}

.item-post:hover a .item-post-thumb,
.item-post:hover a .item-post-bg,
.item-post:active a .item-post-thumb,
.item-post:active a .item-post-bg {
  margin-top: 3.75%;
  margin-left: 3.75%;
  margin-right: 3.75%;
  width: 92.5%;
  border-radius: var(--corner-radius-large);
}

img.item-post-thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item-post-bg {
  display: block;
  width: 100%;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);

  /* for icon */
  align-content: center;
  justify-content: center;
  display: grid;
}

/* link */

.item-link {
  border-radius: var(--corner-radius-small);
  transition: var(--transition);
  max-height: 7rem;

  box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -webkit-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -moz-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
}

.item-link:hover,
.item-link:active {
  border-radius: var(--corner-radius-large);
}

.item-link:hover a .item-link-thumb,
.item-link:hover a .item-link-bg,
.item-link:active a .item-link-thumb,
.item-link:active a .item-link-bg {
  margin-top: calc(0.0375 * 7rem);
  margin-bottom: calc(0.0375 * 7rem);
  margin-left: calc(0.0375 * 7rem);
  height: calc(0.925 * 7rem);
  border-radius: var(--corner-radius-large);
}

img.item-link-thumb {
  display: block;
  height: 7rem;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item-link-bg {
  display: block;
  height: 7rem;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);

  /* for icon */
  align-content: center;
  justify-content: center;
  display: grid;
}

.item-link-bg > svg,
.item-post-bg > svg {
  color: var(--color-decoration);
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--transition);
}

.item-link:hover .item-link-bg > svg,
.item-post:hover .item-post-bg > svg {
  width: calc(0.925 * 2.5rem);
  height: calc(0.925 * 2.5rem);
}

.item-link-container {
  display: flex;
  align-items: flex-start;
  /*gap: var(--spacing-tiny);*/
}
