/* || STACK */

.stack {
  list-style-type: none;
  width: 100%;
  display: grid;
  gap: var(--spacing-diminutive);
}

.stack--list, .stack--photo {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.stack--grid {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (max-width: 36rem) {
  .stack--list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


/* || ITEM */

.item {
  border-radius: var(--corner-radius-small);
  transition: var(--transition);
}

.item__container {}

.item__thumb {
  display: block;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item__bg  {
  display: block;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);

  /* for icon */
  align-content: center;
  justify-content: center;
  display: grid;
}

.item__bg > svg {
  color: var(--color-decoration);
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--transition);
}

.item:hover .item__bg > svg {
  width: calc(0.925 * 2.5rem);
  height: calc(0.925 * 2.5rem);
}

.item__text {
  padding: var(--spacing-tiny);
  margin: 0;
}

.item__text > h3 {
  margin: 0;
  word-wrap: break-word;
}

.item__text > p {
  margin-top: var(--spacing-diminutive);
  margin-bottom: 0;
}

.item__keytag {
  font-weight: bold;
  background-color: var(--color-surface);
  padding-left: var(--spacing-mini);
  padding-right: var(--spacing-mini);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 0.4em;
}


/* || PHOTO ITEM */

.item--photo__thumb {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.item--photo__container {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item--photo:hover > a > .item--photo__thumb,
.item--photo:active > a > .item--photo__thumb {
  width: 92.5%;
  border-radius: var(--corner-radius-large);
}


/* || GRID ITEM */

.item--grid {}

.item--grid:hover,
.item--grid:active {
  border-top-left-radius: var(--corner-radius-larger);
  border-top-right-radius: var(--corner-radius-larger);
}

.item--grid:hover > a > .item--grid__thumb,
.item--grid:hover > a > .item--grid__bg,
.item--grid:active > a > .item--grid__thumb,
.item--grid:active > a > .item--grid__bg {
  margin: 3.75%;
  margin-bottom: 0;
  width: 92.5%;
  border-radius: var(--corner-radius-large);
}

.item--grid__thumb {
  width: 100%;
  aspect-ratio: 1 / .5;
}

.item--grid__bg {
  width: 100%;
}


/* || LIST ITEM */

.item--list {
  max-height: 7rem;
}

.item--list:hover,
.item--list:active {
  border-top-left-radius: var(--corner-radius-larger);
  border-bottom-left-radius: var(--corner-radius-larger);
}

.item--list:hover > a > .item--list__thumb,
.item--list:hover > a > .item--list__bg,
.item--list:active > a > .item--list__thumb,
.item--list:active > a > .item--list__bg {
  margin: calc(0.0375 * 7rem);
  margin-right: 0;
  height: calc(0.925 * 7rem);
  border-radius: var(--corner-radius-large);
}

.item--list__thumb {
  height: 7rem;
  aspect-ratio: 1 / .5;
}

.item--list__bg {
  height: 7rem;
}

.item--list__container {
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 36rem) {
  .item--list__thumb, .item--list__bg {
    aspect-ratio: 1 / 1 !important;
  }
}
