/* || LIST */

.grid--post, .grid--photo {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-diminutive);
}

.grid--link {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--spacing-diminutive);
}


/* || PHOTO */

.item--photo__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item--photo__container {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item--photo__container:hover img.item--photo__thumb,
.item--photo__container:active img.item--photo__thumb {
  width: 92.5%;
  /*opacity: 0.75;*/
  border-radius: var(--corner-radius-large);
}


/* || POST, LINK */

.item__text {
  padding: var(--spacing-tiny);
  margin: 0;
}

.item__text > h3 {
  margin: 0;
  word-wrap: break-word;
}

.item__text > p {
  margin-top: var(--spacing-diminutive);
  margin-bottom: 0;
}

.item__keytag {
  font-weight: bold;
  background-color: var(--color-surface);
  padding-left: var(--spacing-mini);
  padding-right: var(--spacing-mini);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 0.4em;
}


/* || POST */

.item--post {
  border-radius: var(--corner-radius-small);
  transition: var(--transition);

  box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -webkit-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -moz-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
}

.item--post:hover,
.item--post:active {
  border-top-left-radius: var(--corner-radius-larger);
  border-top-right-radius: var(--corner-radius-larger);
}

.item--post:hover a .item--post__thumb,
.item--post:hover a .item--post__bg,
.item--post:active a .item--post__thumb,
.item--post:active a .item--post__bg {
  margin-top: 3.75%;
  margin-left: 3.75%;
  margin-right: 3.75%;
  width: 92.5%;
  border-radius: var(--corner-radius-large);
}

.item--post__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item--post__bg {
  display: block;
  width: 100%;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);

  /* for icon */
  align-content: center;
  justify-content: center;
  display: grid;
}


/* || LINK */

.item--link {
  border-radius: var(--corner-radius-small);
  transition: var(--transition);
  max-height: 7rem;

  box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -webkit-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
  -moz-box-shadow: inset 0 0 0 var(--width-border) var(--color-border);
}

.item--link:hover,
.item--link:active {
  border-top-left-radius: var(--corner-radius-larger);
  border-bottom-left-radius: var(--corner-radius-larger);
}

.item--link:hover a .item--link__thumb,
.item--link:hover a .item--link__bg,
.item--link:active a .item--link__thumb,
.item--link:active a .item--link__bg {
  margin-top: calc(0.0375 * 7rem);
  margin-bottom: calc(0.0375 * 7rem);
  margin-left: calc(0.0375 * 7rem);
  height: calc(0.925 * 7rem);
  border-radius: var(--corner-radius-large);
}

.item--link__thumb {
  display: block;
  height: 7rem;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}

.item--link__bg {
  display: block;
  height: 7rem;
  aspect-ratio: 1 / .5;
  object-fit: cover;
  transition: var(--transition);
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);

  /* for icon */
  align-content: center;
  justify-content: center;
  display: grid;
}

.item--link__bg > svg,
.item--post__bg > svg {
  color: var(--color-decoration);
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--transition);
}

.item--link:hover .item--link__bg > svg,
.item--post:hover .item--post__bg > svg {
  width: calc(0.925 * 2.5rem);
  height: calc(0.925 * 2.5rem);
}

.item--link__container {
  display: flex;
  align-items: flex-start;
  /*gap: var(--spacing-tiny);*/
}
