body {
  margin: var(--spacing-tiny);
}

.column {
  max-width: var(--width-column);
  margin-left: auto;
  margin-right: auto;
}

/* single */

.single-info-grid {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-diminutive);
}

.single-info-block {
  border-radius: var(--corner-radius-small);
  padding-top: var(--spacing-diminutive);
  padding-bottom: var(--spacing-diminutive);
  padding-left: var(--spacing-tiny);
  padding-right: var(--spacing-tiny);
  /* background-color: var(--color-surface); */
}

.single-info-block > p {
  /* color: var(--color-text-primary); */
}

.single-info-block > * {
  margin: 0;
}

/* header */

nav > span {
  position: relative;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
}

#header-logo {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#nav-links {
  display: flex;
  justify-content: space-between;
}

#header-title {
  font-weight: normal;
  text-align: start;
}

#header-tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

a.link-tab {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: var(--transition);
  font-size: large;
}

a.link-tab:hover,
a.link-tab:active {
  text-decoration: underline;
}

a.link-tab-selected {
  font-weight: bold;
}

/* footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

footer > div > * {
  text-align: center;
}

footer > div > hr {
  margin-top: 0;
}
