article > :last-child > :last-child {
  margin-bottom: 0;
}

/* || CALLOUT */

.callout-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-tiny);
}

.callout {
  border-radius: var(--corner-radius-small);
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-tiny);
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  /* background-color: var(--color-surface); */
}

.callout > p {
  /* color: var(--color-text-primary); */
}

.callout > * {
  margin: 0;
}

@media screen and (max-width: 36rem) {
  .callout-row {
    flex-direction: column;
  }
}


/* || FIGURE */

.figrow__container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.figrow--device__container {
  width: fit-content;
  padding: var(--spacing-medium);
  padding-left: max(calc((100vw - var(--width-column-wide)) / 2), var(--spacing-edge));
  margin-left: min(calc(-1 * (100vw - var(--width-column-wide)) / 2), calc(-1 * var(--spacing-edge))) !important;
  margin-right: calc(-1 * var(--spacing-medium));
  border-top-right-radius: var(--corner-radius-large);
  border-bottom-right-radius: var(--corner-radius-large);
  background-color: var(--color-surface);
}

.figrow--device__container.wide {
  width: auto;
  padding-right: max(calc((100vw - var(--width-column-wide)) / 2), var(--spacing-edge));
  margin-right: min(calc(-1 * (100vw - var(--width-column-wide)) / 2), calc(-1 * var(--spacing-edge))) !important;
  border-radius: 0;
}

.figrow__div {
  display: none;
  width: fit-content;
  gap: var(--spacing-diminutive);
  grid-auto-flow: column;
  align-items: end;
}

.figrow--device__div {
  gap: var(--spacing-tiny);
}

.figrow__table {
  border-collapse: collapse;
}

.figrow__table > tbody > tr > td {
  padding: 0;
  padding-right: var(--spacing-diminutive);
}

.figrow--device__table > tbody > tr > td {
  padding-right: var(--spacing-small);
}

.figrow__table > tbody > tr > td:last-child {
  padding-right: 0;
}

.figrow__table > tbody > tr {
  display: inline-flex; /* flex sometimes causes irregular height for one col */
  align-items: end;
}

@media screen and (max-width: 48rem) {
  .figrow--device__container {
    width: auto;
    padding-right: var(--spacing-edge);
    border-radius: 0;
  }
}

@media screen and (max-width: 36rem) {
  .figrow__div--dynamic {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: row;
  }

  .figrow--device__table > tbody > tr > td {
    padding-right: var(--spacing-tiny);
  }

  .figrow__table--dynamic {
    display: none;
  }

  .figrow--device__container {
    /*padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);*/
  }
}


.figure__img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: cover;
  border-radius: var(--corner-radius-small);
}

.device__bezel > figure > .figure__img {
  border-radius: var(--corner-radius-screen) / calc(var(--corner-radius-screen) * var(--aspect-ratio-device));
  /*outline-style: solid;
  outline-width: var(--width-border);
  outline-color: var(--color-border);*/
}

.device--pc > .device__side > .device__bezel > figure > .figure__img {
  border-radius: calc(var(--corner-radius-screen) * var(--phone-to-hori)) / calc(var(--corner-radius-screen) * var(--aspect-ratio-device) * var(--phone-to-hori));
}

.device--watch > .device__side > .device__bezel > figure > .figure__img {
  border-radius: 50%;

  /* hide imperfect pixelated edges */
  outline-style: solid;
  outline-width: var(--width-border);
  outline-color: var(--color-device-bezel);
  outline-offset: -0.055rem;
}

figure:has(a), figure:has(img) {
  /* doesn't work on iframes */
  width: auto;
  height: 100%;
  display: grid; /* for some reason needed to avoid empty space below img */
  align-content: end;
}

figure:has(figcaption) > img {
  /* (render hook) make sure figcaption bg doesnt cover the image */
  position: relative;
  z-index: 1;
}

figcaption > p {
  font-weight: normal;
  font-style: italic;
  text-align: start;
  margin: 0;
}

.figrow--device__container > figcaption {
  margin-top: 0;
  padding: var(--spacing-small);
  padding-left: 0;
  padding-right: 0;
  background-color: unset;
}

.figrow--device__container:has(figcaption) {
  padding-bottom: 0;
}


/* || DEVICE */

.device  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device--phone {
  --aspect-ratio-device: var(--aspect-ratio-phone);
}

.device--phone-old {
  --aspect-ratio-device: var(--aspect-ratio-phone-old);
}

.device--pc {
  --aspect-ratio-device: var(--aspect-ratio-pc);
  --phone-to-hori: calc(var(--aspect-ratio-phone) / var(--aspect-ratio-device));
}

.device--watch {
  --aspect-ratio-device: 1;

  padding-top: var(--height-device-band);
  padding-bottom: var(--height-device-band);
}

.device--green {
  --color-device-bezel: var(--color-green);
  --color-device-side: var(--color-green-dk);
}

.device--blue {
  --color-device-bezel: var(--color-blue);
  --color-device-side: var(--color-blue-dk);
}

.device--pink {
  --color-device-bezel: var(--color-pink);
  --color-device-side: var(--color-pink-dk);
}

.device--yellow {
  --color-device-bezel: var(--color-yellow);
  --color-device-side: var(--color-yellow-dk);
}

.device__band {
  position: absolute;
  width: var(--width-device-band);
  height: 100%;
  border-radius: calc((100% + 2 * var(--height-device-band)) / 5) / calc(var(--width-device-band) / 5);
  background-color: var(--color-device-side);
}

.device__side {
  width: fit-content;
  height: fit-content;
  padding-right: var(--width-device-side);
  border-radius: calc(var(--corner-radius-bezel) / (1 + var(--width-device-side-factor))) / calc(var(--corner-radius-bezel) * var(--aspect-ratio-device));
  background-color: var(--color-device-side);
  z-index: 1;
}

.device--pc > .device__side {
  padding-right: calc(var(--width-device-side) * var(--phone-to-hori));
  border-radius: calc(var(--corner-radius-bezel) * var(--phone-to-hori)) / calc(var(--corner-radius-bezel) * var(--aspect-ratio-phone));
}

.device--watch > .device__side {
  border-radius: calc(50% / (1 + var(--width-device-side-factor))) / 50%;
}

.device__bezel {
  width: fit-content;
  height: fit-content;
  padding: var(--width-device-bezel);
  padding-top: var(--width-device-bezel-large);
  padding-bottom: var(--width-device-bezel-large);
  border-radius: var(--corner-radius-bezel) / calc(var(--corner-radius-bezel) * var(--aspect-ratio-device));
  background-color: var(--color-device-bezel);
}

.device--phone-old > .device__side > .device__bezel {
  padding-top: calc(2 * var(--width-device-bezel-large));
  padding-bottom: calc(2 * var(--width-device-bezel-large));
}

.device--pc > .device__side > .device__bezel {
  padding: calc(var(--width-device-bezel) * var(--phone-to-hori));
  padding-top: calc(var(--width-device-bezel-large) * var(--phone-to-hori));
  padding-bottom: calc(var(--width-device-bezel-large) * var(--phone-to-hori));
  border-radius: calc(var(--corner-radius-bezel) * var(--phone-to-hori)) / calc(var(--corner-radius-bezel) * var(--aspect-ratio-phone));
}

.device--watch > .device__side > .device__bezel {
  padding: var(--width-device-bezel);
  border-radius: 50%
}


/* || VIDEO */

/* from https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/shortcodes/youtube.html */
.video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* from https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/shortcodes/youtube.html */
.video__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: var(--corner-radius-small);
  background-color: var(--color-surface);
}
