.column {
  max-width: var(--width-column);
  margin-left: auto;
  margin-right: auto;
}


/* || HEADER */

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.header__title {
  font-weight: normal;
  text-align: start;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.nav-tab {
  color: var(--color-text-primary);
  transition: var(--transition);
  font-size: large;
}

.nav-tab--selected {
  font-weight: bold;
}

@media screen and (max-width: 36rem) {
  .header__nav {
    flex-direction: column;
    display: none;
  }
}


/* || FOOTER */

.footer__content {
  text-align: center;
}
