.column {
  max-width: min(var(--width-column-wide), calc(100vw - 2 * var(--spacing-edge)));
  margin-left: auto;
  margin-right: auto;
}

.column-flow > :not(.wide) {
  max-width: min(var(--width-column-narrow), calc(100vw - 2 * var(--spacing-edge)));
  margin-left: 0;
}


/* || HEADER */

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: var(--spacing-tiny);
  margin: calc(-1 * var(--spacing-tiny));
  width: 2rem;
  height: 2rem;
  border-radius: var(--corner-radius-medium);
  transition: var(--transition);
  color: var(--color-primary-lt);
}

.header__logo:hover,
.header__logo:active {
  width: 2.06rem;
  height: 2.06rem;
  margin: calc(-1 * var(--spacing-tiny) - 0.25 * 0.06rem);
  background-color: var(--color-surface-dk);
}

.header__logo--restart:hover,
.header__logo--restart:active {
  color: transparent;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-tiny);
  align-items: center;
}

.nav-tab {
  margin-top: calc(-1 * var(--spacing-edge));
  padding-top: var(--spacing-edge);
  padding-bottom: var(--spacing-tiny);
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: var(--font-size-body);
  border-bottom-left-radius: var(--corner-radius-medium);
  border-bottom-right-radius: var(--corner-radius-medium);
  transition: var(--transition);
}

.nav-tab:hover,
.nav-tab:active {
  color: var(--color-primary);
}

.nav-tab--selected,
.nav-tab:hover,
.nav-tab:active {
  font-weight: bold;
  background-color: var(--color-surface-dk);
}

@media screen and (max-width: 36rem) {
  .header__nav {
    gap: var(--spacing-diminutive);
  }

  .nav-tab {
    padding-left: var(--spacing-tiny);
    padding-right: var(--spacing-tiny);
  }
}


/* || HERO */

.hero {
  padding-top: var(--spacing-section);
  padding-bottom: var(--spacing-section);
  margin-bottom: var(--spacing-section);
  background-color: var(--color-surface);
}

.hero__content > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 36rem) {
  .hero {
    padding-top: var(--spacing-p);
  }
}


/* || FOOTER */

.footer__content {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-edge);
  width: fit-content;
  border-top-left-radius: var(--corner-radius-medium);
  border-top-right-radius: var(--corner-radius-medium);
  background-color: var(--color-surface);
}
