.column {
  max-width: var(--width-column);
  margin-left: auto;
  margin-right: auto;
}


/* || HEADER */

nav > span {
  position: relative;
}

#header-logo {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#nav-links {
  display: flex;
  justify-content: space-between;
}

#header-title {
  font-weight: normal;
  text-align: start;
}

#header-tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

a.link-tab {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: var(--transition);
  font-size: large;
}

a.link-tab:hover,
a.link-tab:active {
  text-decoration: underline;
}

a.link-tab-selected {
  font-weight: bold;
}


/* || FOOTER */

footer > div > * {
  text-align: center;
}

footer > div > hr {
  margin-top: 0;
}
