.summary {
  font-weight: 500;
  font-size: var(--font-size-summary);
}

.caption {
  color: var(--color-text-secondary);
  font-size: var(--font-size-caption);
}

.decoration {
  color: var(--color-decoration);
  font-size: var(--font-size-caption);
}

a:hover,
a:active {
  text-decoration: underline;
}

a.link-tag:hover,
a.link-tag:active {
  text-decoration: underline;
}

a.link-external:hover,
a.link-external:active {
  text-decoration: underline;
}

figcaption > p > code {
  background-color: initial;
  outline: var(--width-border) solid var(--color-border);
}

a.link-heading {
  text-decoration: none;
  color: var(--color-text-primary);
  text-decoration-thickness: 0.08em !important;
  /*text-decoration-color: var(--color-text-link) !important;*/
}

a.link-heading:hover h3, h2:hover a.link-heading,
a.link-heading:active h3, h2:active a.link-heading {
  text-decoration: underline;
  text-decoration-thickness: 0.075em !important;
  /*text-decoration-color: var(--color-text-link) !important;*/
}


/* || DECORATION */

a.icon-link {
  text-decoration: none !important;
}

.footnotes hr::after {
  content: "Notes";
  text-align: start;
  font-size: var(--font-size-h2);
  color: var(--color-text-primary);
}

.footnotes hr {
  display: none;
}


/* || ICON */

p > svg, a > svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.15em;
}

a.link-external > svg {
  margin-left: 0.2em;
}
