body {
  font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 420;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 1.25em;
  margin-bottom: 0.65em;
  color: var(--color-text-primary);
  font-weight: bold;
}

/* paragraph */

p, li {
  font-size: var(--font-size-body);
  color: var(--color-text-primary);
}

.summary {
  font-weight: 500;
  font-size: var(--font-size-summary);
}

.caption {
  color: var(--color-text-secondary);
  font-size: var(--font-size-caption);
}

.decoration {
  color: var(--color-decoration);
  font-size: var(--font-size-caption);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
  text-decoration-thickness: 0.08em !important;
  /*text-decoration-color: var(--color-text-link) !important;*/
}

a:hover,
a:active {
  text-decoration: underline;
}

a.link-tag:hover,
a.link-tag:active {
  text-decoration: underline;
}

a.link-external:hover,
a.link-external:active {
  text-decoration: underline;
}

code {
  font-family: "Jetbrains Mono", mono;
  background-color: var(--color-surface);
  border-radius: var(--corner-radius-small);
  padding-left: var(--spacing-mini);
  padding-right: var(--spacing-mini);
  color: var(--color-text-secondary);
  font-size: calc(0.8 * var(--font-size-body));
}

figcaption > p > code {
  background-color: initial;
  outline: var(--width-border) solid var(--color-border);
}

blockquote {
  font-style: italic;
}

sup {
  vertical-align: top;
}

/* heading */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: var(--font-size-h2);
  width: fit-content;
}

h3 {
  font-size: 1.25rem;
}

a.link-heading {
  text-decoration: none;
  color: var(--color-text-primary);
  text-decoration-thickness: 0.08em !important;
  /*text-decoration-color: var(--color-text-link) !important;*/
}

a.link-heading:hover h3, h2:hover a.link-heading,
a.link-heading:active h3, h2:active a.link-heading {
  text-decoration: underline;
  text-decoration-thickness: 0.075em !important;
  /*text-decoration-color: var(--color-text-link) !important;*/
}

/* decoration */

ul.bulletless, ol.bulletless {
  list-style-type: none;
  padding-left: 0;
}

a.icon-link {
  text-decoration: none !important;
}

hr {
  border: none;
  border-width: 0;
  padding-top: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

hr::after {
  content: "* * *";
  color: var(--color-decoration);
  display: block;
  text-align: center;
  font-size: x-large;
}

.footnotes hr::after {
  content: "Notes";
  text-align: start;
  font-size: var(--font-size-h2);
  color: var(--color-text-primary);
}

.footnotes hr {
  display: none;
}

li::marker {
  color: var(--color-decoration);
}

ul > li::marker {
  font-size: smaller;
}
