.summary {
  font-weight: 500;
  font-size: var(--font-size-summary);
}

.caption {
  color: var(--color-text-secondary);
  font-size: var(--font-size-caption);
}

.decoration {
  color: var(--color-decoration);
  font-size: var(--font-size-caption);
}

figcaption > p > code {
  background-color: initial;
  outline: var(--width-border) solid var(--color-border);
}


/* || LINK */

.link {
  color: var(--color-text-link);
  text-decoration-thickness: 0.08em;
}

.link:hover, .link:active {
  text-decoration-line: underline;
}

.link--heading {
  color: var(--color-text-primary);
}

.item--post:hover .link--heading,
.item--link:hover .link--heading {
  text-decoration-line: underline;
}


/* || FOOTNOTES */

.footnotes hr::after {
  content: "Notes";
  text-align: start;
  font-size: var(--font-size-h2);
  color: var(--color-text-primary);
}

.footnotes hr {
  display: none;
}


/* || ICON */

p > svg, a > svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.15em;
}

.link--external > svg {
  margin-left: 0.2em;
}
