{{ $limit := 3 }}

{{ with .Params.limit }}
    {{ $limit = . }}
{{ end }}

{{ with .RegularPagesRecursive.Limit $limit }}

    <section>
        <h2><a class="link link--heading" href="{{ $.RelPermalink }}">{{ $.LinkTitle }}</a></h3>
        {{ $.Content }}

        {{ if or (eq $.Section "art") (eq $.Section "photos") }}
            {{ partial "list/stack_photo" . }}
        {{ else if eq $.Section "posts" }}
            {{ partial "list/stack_list" . }}
        {{ else }}
            {{ partial "list/stack_grid" . }}
        {{ end }}
    </section>

{{ end }}
