<article class="item-link">
    <a href="{{ .link.RelPermalink }}" class="link-heading item-link-container">
        {{ with .link.Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := partial "fn/Concat" (slice "images/" $filename) }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := partial "fn/Concat" (slice "500x250 webp Center" $rot) }}
                {{ $thumb := .Fill $spec }}

                <img class="item-link-thumb" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ else }}
            <div class="item-link-bg"></div>
        {{ end }}

        <div class="item-text">
            {{ with .title }}
                <h3>{{ . }}</h3>
            {{ else }}
                <h3>{{ .link.LinkTitle }}</h3>
            {{ end }}

            <!-- override with custom description -->
            {{ with .text }}
                <p>{{ . }}</p>
            {{ else }}
                {{ with .link.Params.summary }}
                    <p>{{ . }}</p>
                {{ end }}
            {{ end }}

            <!--
            {{ with .link.Params.date }}
                <p class="caption">
                    <time>{{ . | time.Format "Jan 2 2006" }}</time>
                </p>
            {{ end }}
            -->
        </div>
    </a>
</article>
