<article>
    <a href="{{ .RelPermalink }}" class="link-heading item-photo-container">
        {{ with .Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := partial "fn/Concat" (slice "images/" $filename) }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := partial "fn/Concat" (slice "500x500 webp Center" $rot) }}
                {{ $thumb := .Fill $spec }}

                <img class="item-photo-thumb" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ end }}
    </a>
</article>
