<article class="item item--list outlined">
    <a href="{{ .page.RelPermalink }}" class="item__container item--list__container">
        {{ $thumb := "" }}
        {{ with .page.Params.thumb }}
            {{ $thumb = . }}
        {{ else with (index .page.Params.images 0) }}
            {{ $thumb = . }}
        {{ end }}

        {{ with $thumb }}
            {{ $path := add "images/" $thumb }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := add "800x400 webp Center" $rot }}
                {{ $resized := .Fill $spec }}

                <img class="item__thumb item--list__thumb" loading="lazy" src="{{ $resized.RelPermalink }}" />
            {{ end }}
        {{ else }}
            <div class="item__bg item--list__bg">
                {{ with .page.Params.icon }}
                    {{ partial "icon" . }}
                {{ end }}
            </div>
        {{ end }}

        <div class="item__text">
            <h3 class="item__heading">
                {{ with .title }}
                    {{ . }}
                {{ else }}
                    {{ with .page.LinkTitle }}
                        {{ . }}
                    {{ else }}
                        Unnamed
                    {{ end }}
                {{ end }}
            </h3>

            {{ with .text }}
                <!-- override with custom description -->
                <p>{{ safe.HTML . }}</p>
            {{ else }}
                {{ with .page.Params.summary }}
                    <p>
                        {{ with $.page.Params.keytag }}
                            <span class="item__keytag caption">{{ . }}</span>
                        {{ end }}
                        {{ safe.HTML . }}
                    </p>
                {{ end }}
            {{ end }}
        </div>
    </a>
</article>
