<article class="item-post">
    <a href="{{ .RelPermalink }}" class="link-heading">
        {{ with .Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := partial "fn/Concat" (slice "images/" $filename) }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := partial "fn/Concat" (slice "500x250 webp Center" $rot) }}
                {{ $thumb := .Fill $spec }}

                <img class="item-post-thumb" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ else }}
            <div class="item-post-bg">
                {{ with .Params.icon }}
                    {{ partial (partial "fn/Concat" (slice "ic/" . ".svg")) }}
                {{ end }}
            </div>
        {{ end }}

        <div class="item-text">
            {{ with .LinkTitle }}
                <h3>{{ . }}</h3>
            {{ else }}
                <h3>Unnamed</h3>
            {{ end }}

            {{ with .Params.summary }}
                <p>{{ . }}</p>
            {{ end }}
        </div>

        <!--
        {{ with .Params.started }}
            {{ $duration := partial "fn/GetProjectDuration" (dict "start" . "end" $.Params.completed) }}
            <p class="caption">{{ $duration }}</p>
        {{ else }}
            {{ with .Params.date }}
                <p class="caption">
                    <time>{{ . | time.Format "Jan 2006" }}</time>
                </p>
            {{ end }}
        {{ end }}
        -->
    </a>
</article>
