<article class="item item--list outlined">
    <a href="{{ .page.RelPermalink }}" class="item__container item--list__container">
        {{ with .page.Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := add "images/" $filename }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := add "800x400 webp Center" $rot }}
                {{ $thumb := .Fill $spec }}

                <img class="item__thumb item--list__thumb" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ else }}
            <div class="item__bg item--list__bg">
                {{ with $.page.Params.icon }}
                    {{ partial "icon" . }}
                {{ end }}
            </div>
        {{ end }}

        <div class="item__text">
            <h3 class="item__heading">
                {{ with .title }}
                    {{ . }}
                {{ else }}
                    {{ with .page.LinkTitle }}
                        {{ . }}
                    {{ else }}
                        Unnamed
                    {{ end }}
                {{ end }}
            </h3>

            {{ with .text }}
                <!-- override with custom description -->
                <p>{{ safe.HTML . }}</p>
            {{ else }}
                {{ with .page.Params.summary }}
                    <p>
                        {{ with $.page.Params.keytag }}
                            <span class="item__keytag caption">{{ . }}</span>
                        {{ end }}
                        {{ safe.HTML . }}
                    </p>
                {{ end }}
            {{ end }}

            <!--
            {{ with .page.Params.date }}
                <p class="caption">
                    <time>{{ . | time.Format "Jan 2 2006" }}</time>
                </p>
            {{ end }}
            -->
        </div>
    </a>
</article>
