<article class="item item--photo outlined">
    <a href="{{ .RelPermalink }}" class="link link--heading item__container item--photo__container">
        {{ with .Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := add "images/" $filename }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "fn/GetExifRotation" .Exif }}
                {{ $spec := add "500x500 webp Center" $rot }}
                {{ $thumb := .Fill $spec }}

                <img class="item__thumb item--photo__thumb outlined" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ end }}
    </a>
</article>
