<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.svg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

        {{ if eq .Page.Title "" }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
            <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
        {{ end }}
    </head>

    <body>
        {{ partial "header" . }}
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer" . }}
    </body>
</html>
