{{ define "main" }}

    <main>
        <article>
            <div class="hero">
                <div class="hero__content column column-flow">
                    <!-- sometimes title is provided in md instead -->
                    {{ with .Title }}
                        <h1>{{ . }}</h1>
                    {{ end }}

                    {{ with .Params.summary }}
                        <p class="summary">{{ markdownify . }}</p>
                    {{ end }}

                    {{ .Content }}
                </div>
            </div>

            <div class="column">
                <!-- items -->
                {{ with where .RegularPages "Params.hidden" "!=" true }}
                    {{ if or (eq $.Section "craft") (eq $.Section "photos") }}
                        {{ partial "list/stack_photo" . }}
                    {{ else if eq $.Section "posts" }}
                        {{ partial "list/stack_list" . }}
                    {{ else }}
                        {{ partial "list/stack_grid" . }}
                    {{ end }}
                {{ end }}

                <!-- sections -->
                {{ range .Sections }}
                    {{ partial "list/section" . }}
                {{ end }}
            </div>
        </article>
    </main>

{{ end }}
