{{ define "main" }}

    <main class="column">
        <section>
            <!-- sometimes title is provided in md instead -->
            {{ with .Title }}
                <h1>{{ . }}</h1>
            {{ end }}

            {{ .Content }}

            <!-- items -->
            {{ with where .RegularPages "Params.hidden" "!=" true }}
                {{ if or (eq $.Section "art") (eq $.Section "photos") }}
                    {{ partial "list/grid_photo" . }}
                {{ else if eq $.Section "posts" }}
                    {{ partial "list/grid_link" . }}
                {{ else }}
                    {{ partial "list/grid_post" . }}
                {{ end }}
            {{ end }}

            <!-- sections -->
            {{ range .Sections }}
                {{ partial "list/section" . }}
            {{ end }}
        </section>
    </main>

{{ end }}
