{{ define "main" }}

    <article class="column">
        <!-- title -->
        {{ if .Title }}
            <h1>{{ .Title }}</h1>
        {{ else }}
            <h1>Unnamed</h1>
        {{ end }}

        {{ $format := "2006-01-02" }}

        <!-- article metadata -->
        {{ with .Params.published }}
            <p class="caption">Published {{ . | time.Format $format }}</p>
        {{ end }}
        {{ with .Params.modified }}
            <p class="caption">Updated {{ . | time.Format $format }}</p>
        {{ end }}

        <!-- images -->
        {{ range .Params.images }}
            {{ $path := printf "%s" . | printf "%s%s" "images/" | printf "%s" }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $thumb := .Resize "1500x webp" }}

                <a href="{{ $image.RelPermalink }}">
                    <img class="img-photo-single" src="{{ $thumb.RelPermalink }}" />
                </a>

                <!-- image metadata -->
                {{ with $image.Exif }}
                    <p class="caption">Taken {{ .Date | time.Format $format }}</p>
                {{ end }}
            {{ else }}
                {{ fmt.Warnf ( printf "%s" $path | printf "%s%s" "Single: unable to find " | printf "%s") }}
            {{ end }}
        {{ end }}

        <!-- links -->
        {{ with .Params.links }}
            <p>Links:
            {{ range $i, $map := . }}
                {{ range $key, $val := $map }}
                    <a href="{{ $val }}">{{ $key }}</a>
                {{ end }}
            {{ end }}
            </p>
        {{ end }}

        <!-- taxonomies -->
        <p>
            {{ with index .Params.courses 0 }}
                Course: <a href="/courses/{{ . }}" class="tag-link">#{{ . }}</a>
            {{ end }}
            {{ with .Params.tags }}
                Tags:
                {{ range . }}
                    <a href="/tags/{{ . }}" class="tag-link">#{{ . }}</a>
                {{ end }}
            {{ end }}
            {{ with .Params.tools }}
                Tools:
                {{ range . }}
                    <a href="/tools/{{ . }}" class="tag-link">#{{ . }}</a>
                {{ end }}
            {{ end }}
            </p>

        {{ with .Params.summary }}
            <strong>{{ . }}</strong>
        {{ end }}

        {{ .Content }}
    </article>

{{ end }}
