{{ define "main" }}

    <article class="column">
        <!-- title -->
        {{ if .Title }}
            <h1>{{ .Title }}</h1>
        {{ else }}
            <h1>Unnamed</h1>
        {{ end }}

        {{ with .Params.summary }}
            <p class="summary">{{ . }}</p>
        {{ end }}

        <!-- banner(s) -->
        {{ range .Params.images }}
            {{ $path := partial "fn/Concat" (slice "images/" .) }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ partial "single/image_banner" (dict "image" .) }}
                <p />

            {{ else }}
                {{ fmt.Warnf (partial "fn/Concat" (slice "Single: unable to find " $path)) }}
            {{ end }}
        {{ end }}

        {{ partial "p/caption_dates" .Params }}

        <p>
            <!-- links -->
            {{ with .Params.links }}
            Links:
                {{ range $i, $map := . }}
                    {{ range $key, $val := $map }}
                        {{ partial "p/link_external" (dict "link" $val "text" $key) }}
                    {{ end }}
                {{ end }}
            {{ end }}

            <!-- taxonomies -->
            {{ with .Params.series }}
                {{ partial "p/link_tag_list" (dict "taxonomy" "series" "list" . ) }}
            {{ end }}

            {{ with .Params.tags }}
                {{ partial "p/link_tag_list" (dict "taxonomy" "tags" "list" . ) }}
            {{ end }}

            {{ with .Params.tools }}
                {{ partial "p/link_tag_list" (dict "taxonomy" "tools" "list" . ) }}
            {{ end }}
        </p>

        {{ .Content }}

        <!-- related pages -->
        {{ with .Params.related }}
            <h2>Related</h2>

            {{ range . }}
                {{ partial "it/item_link" (site.GetPage .) }}
                <p />
            {{ end }}
        {{ end }}
    </article>

{{ end }}
