{{ define "main" }}

    <article class="column">
        <!-- title -->
        {{ if .Title }}
            <h1>{{ .Title }}</h1>
        {{ else }}
            <h1>Unnamed</h1>
        {{ end }}

        {{ $format := "2006-01-02" }}

        <!-- article metadata -->
        {{ with .Params.published }}
            <p class="caption">Published {{ . | time.Format $format }}</p>
        {{ end }}
        {{ with .Params.modified }}
            <p class="caption">Modified {{ . | time.Format $format }}</p>
        {{ end }}

        {{ with .Params.summary }}
            <strong>{{ . }}</strong>
        {{ end }}

        <!-- images -->
        {{ range .Params.images }}
            {{ $path := printf "%s" . | printf "%s%s" "images/" | printf "%s" }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                <a href="{{ $image.RelPermalink }}">
                    <img class="img-photo-single" src="{{ $image.RelPermalink }}" />
                </a>

                <!-- image metadata -->
                {{ with $image.Exif }}
                    <p class="caption">Taken {{ .Date | time.Format $format }}</p>
                {{ end }}
            {{ else }}
                {{ fmt.Warnf ( printf "%s" $path | printf "%s%s" "Single: unable to find " | printf "%s") }}
            {{ end }}
        {{ end }}

        {{ .Content }}
    </article>

{{ end }}
