{{ define "main" }}

    <main class="column">
        <article>
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </article>

        {{ range $taxonomy, $terms := .Site.Taxonomies }}
            <!-- only show from the current taxonomy (eg tags) [TODO: some better way] -->
            {{ if strings.Contains $.RelPermalink $taxonomy }}
                {{ range $term, $weightedPages := $terms }}
                    {{ partial "list/section_term" (dict "taxonomyLink" $.RelPermalink "term" $term "pages" $weightedPages) }}
                {{ end }}
             {{ end }}
        {{ end }}
    </main>

{{ end }}
