<header>
    <div class="header__content column">
        <div class="header__logo">
            {{ partial "ic/favicon.svg" }}
            <a class="header__title nav-tab" href="/">
                Felix Wallin
            </a>
        </div>

        <nav class="header__nav">
            {{ partial "header_tab" (dict "link" "/" "text" "Home") }}

            {{ range .Site.Sections }}
                {{ if .RegularPages }}
                    {{ partial "header_tab" (dict "link" .RelPermalink "text" .LinkTitle "icon" .Params.icon ) }}
                {{ end }}
            {{ end }}

            {{ partial "header_tab" (dict "link" "/about/" "text" "About" "icon" "user-round") }}
        </nav>
    </div>
</header>
