<header>
    <div id="nav-links" class="column">
        <div id="header-logo">
            {{ partial "ic/favicon.svg" }}
            <a id="header-title" class="link-tab" href="/">
                Felix Wallin
            </a>
        </div>

        <nav id="header-tabs">
            {{ partial "header_tab" (dict "link" "/" "text" "Home") }}

            {{ range .Site.Sections }}
                {{ if .RegularPages }}
                    {{ partial "header_tab" (dict "link" .RelPermalink "text" .LinkTitle "icon" .Params.icon ) }}
                {{ end }}
            {{ end }}

            <!--
            {{ range $taxonomy, $terms := .Site.Taxonomies }}
                {{ with $taxonomy }}
                    {{ if $terms }}
                        <a href="/{{ . }}" class="link-tab">{{ strings.FirstUpper . }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
            -->

            {{ partial "header_tab" (dict "link" "/about/" "text" "About" "icon" "user-round") }}
        </nav>
    </div>
</header>
