<header class="column">
    <h2><a class="heading-link" href="/">Felix Wallin</a></h2>

    <nav>
        <span>
            <a href="/" class="link-tab">Home</a>

            |

            {{ range .Site.Sections }}
                {{ if .RegularPages }}
                    <a href="{{ .RelPermalink }}" class="link-tab">{{ .LinkTitle }}</a>
                {{ end }}
            {{ end }}

            |

            {{ range $taxonomy, $terms := .Site.Taxonomies }}
                {{ with $taxonomy }}
                    {{ if $terms }}
                        <a href="/{{ . }}" class="link-tab">{{ strings.FirstUpper . }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}

            |

            <a href="/about/" class="link-tab">About</a>
        </span>
    </nav>
</header>
