{{ with .image }}
    {{ $thumb := . }}

    {{ if compare.Gt .Width 1500 }}
        {{ $rot := partial "fun/GetExifRotation" .Exif }}
        {{ $mod := partial "fun/Concat" (slice "1500x webp" $rot) }}
        {{ $thumb = .Resize $mod }}
    {{ end }}

    <a href="{{ .RelPermalink }}">
        <img class="single-image" loading="lazy" src="{{ $thumb.RelPermalink }}"

        {{ with $.text }}
            alt="{{ . }}"
        {{ end }}

        {{ with $.title }}
            title="{{ . }}"
        {{ end }} />
    </a>
{{ end }}
