<article>
    <a href="{{ .RelPermalink }}" class="link-heading item-photo-container">
        {{ with .Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := printf "%s" $filename | printf "%s%s" "images/" | printf "%s" }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $rot := partial "GetExifRotation" .Exif }}
                {{ $mod := partial "Concat" (slice "500x500 webp Center" $rot) }}
                {{ $thumb := .Fill $mod }}

                <img class="item-photo-image" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ end }}
    </a>
</article>
