<article>
    <a href="{{ .RelPermalink }}" class="heading-link">
        {{ with .Params.images }}
            {{ $filename := index . 0 }}
            {{ $path := printf "%s" $filename | printf "%s%s" "images/" | printf "%s" }}
            {{ $image := resources.Get $path }}

            {{ with $image }}
                {{ $thumb := .Fill "500x250 webp q50 Center" }}
                <img class="item-image" loading="lazy" src="{{ $thumb.RelPermalink }}" />
            {{ end }}
        {{ else }}
            <div class="item-icon"></div>
        {{ end }}

        <h3>{{ .LinkTitle }}</h3>
        {{ with .Params.summary }}
            <p>{{ . }}</p>
        {{ end }}
        {{ with .Params.published }}
            <p class="caption">{{ . | time.Format "Jan 2 2006" }}</p>
        {{ end }}
    </a>
</article>
