<div class="figrow-container">
    {{ $class := "figrow figrow-dynamic" }}
    {{ with .Get "force-row" }}
        {{ if . }}
            {{ $class = "figrow" }}
        {{ end }}
    {{ end }}

    <!-- div for column (mobile) -->
    <div class="{{ $class }}">
        {{ .Inner }}
    </div>

    <!-- table for row -->
    <table class="{{ $class }}">
        <tbody>
            <tr>
                {{ .Inner }}
            </tr>
        </tbody>
    </table>

    {{ with .Get "caption" }}
        <figcaption>
            <p class="caption">{{ safe.HTML . }}</p>
        </figcaption>
    {{ end }}
</div>
